# Secretos y Entorno
.env
.env.*
!.env.example

# Dependencias (Nunca se deben subir a GitHub)
node_modules/
dist/
dist-ssr/

# Archivos de Logs
*.log
npm-debug.log*

# Configuraciones de editores
.vscode/
.idea/
.DS_Store